<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- import jQuery -->
    <script src="https://codelib.innodisk.com/jquery/v3.5.1/jquery.js"></script>

    <!-- import boostrap -->
    <link rel="stylesheet" type="text/css" href="https://codelib.innodisk.com/bootstrap/v5.0.2/bootstrap.min.css"/>
    <script src="https://codelib.innodisk.com/bootstrap/v5.0.2/bootstrap.bundle.min.js"></script>

    <!-- import fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://codelib.innodisk.com/fontawesome/v5.14.0/css/all.min.css"/>
    
    <style>
    </style>

    <title>Title</title>
    <link rel="icon" href="{{ url_for('static', _external=True, _scheme='https', filename='favicon.ico') }}">
</head>
<body>
    <center>
        <h1>Hi Hi</h1>
    </center>
    <script type="text/javascript">
        $(function(){

        });
    </script>
</body>